In [1]:
import nltk
import numpy as np
import pandas as pd

In [115]:
S = "Scientists know many things about the Sun. They know how old it is. The Sun is more than 4½ billion years old. They also know the Sun’s size. The Sun may seem small, but that is because it is so far away. It is about 93 million miles (150 million kilometers) away from the Earth. The Sun is so large that the diameter of the Sun is  109 times the Earth’s diameter. The Sun also weighs as much as 333,000 Earths. The Sun is the center of our Solar System. Besides the Sun, the Solar System is made up of the planets,  moons, asteroid belt, comets, meteors, and other objects."

In [65]:
words = nltk.pos_tag(nltk.word_tokenize(S))

In [66]:
words_stop = [w for w in words if w not in nltk.corpus.stopwords.words()]
print len(words_stop)

79

In [143]:
S2 = "Vijay Bhatkar is the chancellor of Nalanda University. He lives in Delhi. He goes to office at 10.."
sentence = S2.split('.')
for s in sentence:
    tokenize = nltk.word_tokenize(s)
    pos = nltk.pos_tag(tokenize)
    print pos
    ner = nltk.ne_chunk(pos)
#     ner.draw()

[('Vijay', 'NNP'), ('Bhatkar', 'NNP'), ('is', 'VBZ'), ('the', 'DT'), ('chancellor', 'NN'), ('of', 'IN'), ('Nalanda', 'NNP'), ('University', 'NNP')]
[('He', 'PRP'), ('lives', 'VBZ'), ('in', 'IN'), ('Delhi', 'NNP')]
[('He', 'PRP'), ('works', 'VBZ'), ('at', 'IN'), ('Google', 'NNP')]
[]

In [144]:
#BETTER
parse_tree = nltk.ne_chunk(nltk.tag.pos_tag(S2.split('.')[2].split()), binary=True)  # POS tagging before chunking!
print nltk.tag.pos_tag(S2.split())
named_entities = []
parse_tree.draw()
for t in parse_tree.subtrees():
    if t.label() == 'NE':
        named_entities.append(t)
        # named_entities.append(list(t))  # if you want to save a list of tagged words instead of a tree

print named_entities

[('Vijay', 'NNP'), ('Bhatkar', 'NNP'), ('is', 'VBZ'), ('the', 'DT'), ('chancellor', 'NN'), ('of', 'IN'), ('Nalanda', 'NNP'), ('University.', 'NNP'), ('He', 'PRP'), ('lives', 'VBZ'), ('in', 'IN'), ('Delhi.', 'NNP'), ('He', 'PRP'), ('works', 'VBZ'), ('at', 'IN'), ('Google.', 'NNP')]
[Tree('NE', [('Google', 'NNP')])]

In [ ]:
def preprocess(S):
    for s in S.split('.')
    parse_tree = nltk.ne_chunk(nltk.tag.pos_tag(S.split(), binary = True))

In [137]:
S2.split()

['Vijay',
 'Bhatkar',
 'is',
 'the',
 'chancellor',
 'of',
 'Nalanda',
 'University.',
 'He',
 'lives',
 'in',
 'Delhi.']